* {
    margin: 0px;
}

nav {
    background-color: #3F1573;
    width: 100%;
    height: 15%;
    position: fixed;
}

.logo-kaiban-principal {
    width: 5%;
    margin-left: 2%;
    padding: 8px;
}


.container {
    display: flex;
}

#novo {
    color: black;
    font-family: sans-serif;
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
    margin-left: 15px;
}

#div-novo {
    background-color: chartreuse;
    width: 50%;
    display: flex;
    margin-top: 20px;
    margin-left: 20%;
}

#img-novo {
    width: 22px;
    margin-left: 35%;
    height: 22px;
    margin-top: 4px;
}

a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    text-align: left;
}

.topicos {
    text-align: center;
    margin-top: 20%;
    margin-left: 30%;
}

p {
    margin-top: 15%;
    font-size: 20px;
}

#banner-secretaria {
    margin-left: 15%;
    width: 90%;
}

h5 {
    position: absolute;
}

.div-notas {
    position: relative;
}

#linha-vertical {
    height: 100%;
    border-right: 1px solid #3F1573;
}

#usuario {
    color: black;
    font-family: sans-serif;
    display: flex;
}

#nome {
    font-size: 14px;
    margin-left: 20px;
    margin-top: 28px;
}

#img-cadastro {
    width: 35px;
    height: 35px;
    margin-top: 15px;
    margin-left: 50px;
}

#icone {
    width: 5%;
    height: 5%;
    margin-top: 15px;
}

#lixeira {
    display: flex;
}

.linha-horizontal {
    width: 10%;
    border-right: 1px solid #3F1573;
}
.display{
    display: block;
}
