@font-face {
    font-family: kirome;
    src: url(fontes/Kirome.otf);
}

body {
    font-family: monospace, sans-serif, 'Inter';
    margin: 0;
    padding: 0;
    color: #3F1573;
    height: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
    background-color: #3F1573;
}
.teste{
    border-width: 2px;
    border-radius: 90px;
    border-color: aliceblue;
    border-style: solid;
    width: 75%;
    height: 85%;
}
h3 {
    font-size: 30px;
    text-align: center;
    font-family: kirome, sans-serif;
}

.formLogin {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 40px;
    height: 80%;
    width: 80%;
    padding: 20px;
    margin-left: 10%;
    margin-right: 15%;
    box-shadow: 40px 40px 40px;
    gap: 5px; 
    margin-top: 3%;
}

#botao {
    border-radius: 5%;
    border: #3F1573 solid 3px;
    background-color: #ffffff;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
}
#img-logar{
    width: 70%;
    height: 70%;
    margin-top: 80px;
    margin-left: 15px;
}
#logo{
    width: 20%;
    margin-left: 140px;
    border-radius: 50%;
    height: 100px;
}

.formLogin h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
}

.formLogin input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
}

h5 {
    color: #ffffff;
    text-align: justify;
    font-size: 20px;
    margin-left: 15%;
    margin-top: 10%;
}

.page {
    display: flex;
}

.teste {
    display: flex;
}

.nav {
    background-color: #3F1573;
}

body {
    background-color: #3F1573;
}

#cadastro-titulo {
    color: #3F1573;
    font-size: 35px;
    font-family: kirome, sans-serif;
    text-align: center;
}

label {
    color: #3F1573;
    font-size: 18px;
    margin-left: 5%;
    margin-top: 15px;
}

.botao-cadastro {
    border-radius: 5%;
    border: #3F1573 solid 2px;
    background-color: #ffffff;
    margin-left: 23%;
    height: 30px;
    margin-bottom: 15px;
    width: 50%;
    margin-right: 25%;
    margin-top: 40px;
}

#input-nome {
    margin-top: 15px;
}

#usuario {
    border: #3F1573 1px solid;
    border-radius: 3px;
    background-color: #ffffff;
    width: 80%;
    height: 30px;
    margin-left: 20px;
    font-family: Space+Mono, sans-serif;
}

#email-cadastro {
    border: #3F1573 1px solid;
    border-radius: 3px;
    background-color: #ffffff;
    width: 80%;
    height: 30px;
    margin-left: 20px;
}

#vocacao {
    border: #3F1573 1px solid;
    border-radius: 3px;
    background-color: #ffffff;
    width: 80%;
    height: 30px;
    margin-left: 20px;
}

#senha-cadastro {
    border: #3F1573 1px solid;
    border-radius: 3px;
    background-color: #ffffff;
    width: 80%;
    height: 30px;
    margin-left: 20px;
}

.form-cadastro {
    background-color: #ffffff;
    width: 30%;
    padding: 20px;
    border-radius: 8px;
    margin-top: 5%;
    margin-right: 10%;
}

#redefinir {
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: #3F1573;
}

.redefinir-senha {
    text-decoration: none;
    color: #3F1573;
    margin-left: 32%;
    margin-top: 10%;
}

#conta {
    text-decoration: none;
    text-align: center;
    margin-bottom: 5px;
}

.image {
    width: 350px;
    margin-top: 130px;
    margin-left: 150px;
    margin-right: 250px;

}

.Display {
    display: flex;
}

#cadeado {
    width: 20%;
    margin-left: 40%;
}

#conta2 {
    text-decoration: none;
    text-align: center;
}

@media screen and (max-width: 480px) {
    h3 {
        font-size: 20px;
    }

    #img-logar{
        display: none;
    }

    .teste {
        display: block;
    }

    .formLogin {
        margin: 5%;
        height: 40%;
    }

    h5 {
        font-size: 18px;
        margin-left: 5%;
        margin-right: 5%;
    }

    #logo-corpo {
        margin-top: 70%;
        margin-left: 30%;
        display: none;
    }

    #bemvindo {
        margin-left: 28%;
        font-size: 25px;
    }
}

@media (min-width:481px) and (max-width: 700px) {
    .teste {
        display: flex;
    }

    h3 {
        font-size: 23px;
    }

    #bemvindo {
        margin-left: 30%;
        font-size: 25px;
    }

    .formLogin {
        margin-left: 6%;
        margin-right: 6%;
        max-width: 1000px;
    }

    #img-logar{
        display: none;
    }

    h5 {
        font-size: 20px;
        margin-left: 15%;
        margin-right: 15%;
    }

    #logo-corpo {
        margin-top: 68%;
        margin-left: 35%;
        width: 35%;
        display: none;
    }
}

@media (min-width:700px) and (max-width: 900px) {
    #bemvindo {
        margin-left: 25%;
        font-size: 24px;
    }
    .formLogin{
        max-width: 1000px;
        margin-right: 6%;
        margin-left: 6%;
        margin-top: 15%;
        height: 70%;
    }

    #img-logar{
        width: 50%;
    }
    h5 {
        font-size: 17px;
        margin-left:50%;
        margin-right: 5%;
    }
    #logo-corpo {
        margin-left: 55%;
        width: 35%;
        margin-top: 35%;
        display: none;
    }

}